# Dépendances
node_modules/

# Fichiers de build
dist/

# Fichiers de logs
logs
*.log
npm-debug.log*

# Fichiers d'environnement
.env

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers de couverture de test
coverage/

# Fichiers temporaires
tmp/
temp/

# build site
_site/
